x-airflow-common:
  &airflow-common
  image: ${AIRFLOW_IMAGE_NAME:-apache/airflow:3.0.3}
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: CeleryExecutor
    AIRFLOW__CORE__AUTH_MANAGER: airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CELERY__RESULT_BACKEND: db+postgresql://airflow:airflow@postgres/airflow
    AIRFLOW__CELERY__BROKER_URL: redis://:@redis:6379/0
    AIRFLOW__CORE__FERNET_KEY: ''
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'false'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__CORE__EXECUTION_API_SERVER_URL: 'http://airflow-apiserver:8080/execution/'
    AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK: 'true'
    AIRFLOW__CORE__PARALLELISM: 8
    AIRFLOW__CORE__MAX_ACTIVE_TASKS_PER_DAG: 1
    AIRFLOW__CORE__MAX_ACTIVE_RUNS_PER_DAG: 1
    AIRFLOW__CELERY__WORKER_CONCURRENCY: 8
    _PIP_ADDITIONAL_REQUIREMENTS: ${_PIP_ADDITIONAL_REQUIREMENTS:-minio pandas requests duckdb pyarrow sqlalchemy}
    AIRFLOW_CONFIG: '/opt/airflow/config/airflow.cfg'
  volumes:
    - ./airflow/dags:/opt/airflow/dags
    - ./airflow/logs:/opt/airflow/logs
    - ./airflow/config:/opt/airflow/config
    - ./airflow/plugins:/opt/airflow/plugins
  user: "${AIRFLOW_UID:-50000}:0"
  cpus: "2.0"
  depends_on:
    &airflow-common-depends-on
    redis:
      condition: service_healthy
    postgres:
      condition: service_healthy

services:
  db:
    image: postgres:16-alpine
    container_name: ecommerce_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ecommerce_db
    ports:
      - "5432:5432"
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
    cpus: "2.0"
    networks:
      - ecommerce_network

  gen_data:
    build: ./gen_data
    container_name: gen_data
    networks:
      - ecommerce_network
    depends_on:
      - db
    cpus: "2.0"
    volumes:
      - ./gen_data:/app

# Khai báo "nhập khẩu" các file con
include:
  - docker-compose.airflow.yaml
  - docker-compose.dagster.yaml
  - docker-compose.minio.yaml
  - docker-compose.iceberg.yaml
  - docker-compose.prefect.yaml
  - docker-compose.spark.yaml

  # clickhouse:
  #   image: clickhouse/clickhouse-server:latest
  #   container_name: clickhouse-server
  #   ports:
  #     - "8123:8123" # HTTP Port
  #     - "9000:9000" # Native Port
  #   volumes:
  #     - ./init-clickhouse:/docker-entrypoint-initdb.d
  #     # Uncomment dòng dưới nếu bạn có file cấu hình user
  #     - ./configs/users.xml:/etc/clickhouse-server/users.d/users.xml
  #   ulimits:
  #     nofile:
  #       soft: 262144
  #       hard: 262144
  #   environment:
  #     - CLICKHOUSE_DB=my_database
  #     - CLICKHOUSE_USER=admin
  #     - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
  #     - CLICKHOUSE_PASSWORD=matkhau123
  #   cap_add:
  #     - SYS_NICE
  #     - NET_ADMIN
  #     - IPC_LOCK
  #   networks:
  #     - ecommerce_network

networks:
  ecommerce_network:
    driver: bridge