# Khai báo "nhập khẩu" các file con
include:
  - airflow/docker-compose.airflow.yaml
  - database/docker-compose.db.yaml
  - gen_data/docker-compose.gen_data.yaml
  - iceberg/docker-compose.iceberg.yaml
  - minio/docker-compose.minio.yaml
  # - dagster/docker-compose.dagster.yaml
  # - prefect/docker-compose.prefect.yaml
  - spark/docker-compose.spark.yaml

  # clickhouse:
  #   image: clickhouse/clickhouse-server:latest
  #   container_name: clickhouse-server
  #   ports:
  #     - "8123:8123" # HTTP Port
  #     - "9000:9000" # Native Port
  #   volumes:
  #     - ./init-clickhouse:/docker-entrypoint-initdb.d
  #     # Uncomment dòng dưới nếu bạn có file cấu hình user
  #     - ./configs/users.xml:/etc/clickhouse-server/users.d/users.xml
  #   ulimits:
  #     nofile:
  #       soft: 262144
  #       hard: 262144
  #   environment:
  #     - CLICKHOUSE_DB=my_database
  #     - CLICKHOUSE_USER=admin
  #     - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
  #     - CLICKHOUSE_PASSWORD=matkhau123
  #   cap_add:
  #     - SYS_NICE
  #     - NET_ADMIN
  #     - IPC_LOCK
  #   networks:
  #     - ecommerce_network

networks:
  ecommerce_network:
    driver: bridge