services:
  db:
    image: postgres:16-alpine
    container_name: ecommerce_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ecommerce_db
    ports:
      - "5432:5432"
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
    cpus: "2.0"
    networks:
      - ecommerce_network

  gen_data:
    build: ./gen_data
    container_name: gen_data
    networks:
      - ecommerce_network
    depends_on:
      - db
    cpus: "2.0"
    volumes:
      - ./gen_data:/app

# Khai báo "nhập khẩu" các file con
include:
  - docker-compose.airflow.yaml
  - docker-compose.dagster.yaml
  - docker-compose.minio.yaml
  - docker-compose.iceberg.yaml
  - docker-compose.prefect.yaml
  - docker-compose.spark.yaml

  # clickhouse:
  #   image: clickhouse/clickhouse-server:latest
  #   container_name: clickhouse-server
  #   ports:
  #     - "8123:8123" # HTTP Port
  #     - "9000:9000" # Native Port
  #   volumes:
  #     - ./init-clickhouse:/docker-entrypoint-initdb.d
  #     # Uncomment dòng dưới nếu bạn có file cấu hình user
  #     - ./configs/users.xml:/etc/clickhouse-server/users.d/users.xml
  #   ulimits:
  #     nofile:
  #       soft: 262144
  #       hard: 262144
  #   environment:
  #     - CLICKHOUSE_DB=my_database
  #     - CLICKHOUSE_USER=admin
  #     - CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
  #     - CLICKHOUSE_PASSWORD=matkhau123
  #   cap_add:
  #     - SYS_NICE
  #     - NET_ADMIN
  #     - IPC_LOCK
  #   networks:
  #     - ecommerce_network

networks:
  ecommerce_network:
    driver: bridge