services:
  spark:
    image: tabulario/spark-iceberg
    # container_name: spark-iceberg
    # build: ./spark
    ports:
      - "8888:8888" # Jupyter Notebook
      - "8080:8080" # Spark UI
    networks:
      - ecommerce_network
    depends_on:
      - minio1
    # volumes:
    #   - ./warehouse:/home/iceberg/warehouse
    #   - ./notebooks:/home/iceberg/notebooks/notebooks
    environment:
      - AWS_ACCESS_KEY_ID=admin
      - AWS_SECRET_ACCESS_KEY=admin123
      - AWS_REGION=us-east-1
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2g
      - SPARK_MASTER_MEMORY=1g
      - SPARK_UI_PORT=8080
      - SPARK_MASTER_PORT=7077
      # - SPARK_CONF_spark_jars_packages=org.apache.hadoop:hadoop-aws:3.3.4,com.amazonaws:aws-java-sdk-bundle:1.12.262
    entrypoint: >
        /bin/sh -c "
        curl -s https://repo1.maven.org/maven2/org/apache/iceberg/iceberg-spark-runtime-3.5_2.12/1.4.3/iceberg-spark-runtime-3.5_2.12-1.4.3.jar -o /opt/spark/jars/iceberg-spark-runtime-3.5_2.12-1.4.3.jar &&
        curl -s https://repo1.maven.org/maven2/org/apache/hadoop/hadoop-aws/3.3.4/hadoop-aws-3.3.4.jar -o /opt/spark/jars/hadoop-aws-3.3.4.jar &&
        curl -s https://repo1.maven.org/maven2/com/amazonaws/aws-java-sdk-bundle/1.12.262/aws-java-sdk-bundle-1.12.262.jar -o /opt/spark/jars/aws-java-sdk-bundle-1.12.262.jar &&
        curl -s https://repo1.maven.org/maven2/org/postgresql/postgresql/42.6.0/postgresql-42.6.0.jar -o /opt/spark/jars/postgresql-42.6.0.jar &&
        /opt/spark/bin/spark-class org.apache.spark.deploy.master.Master"
      # Giới hạn tài nguyên cho container
    deploy:
      resources:
        limits:
          # cpus '2.0'
          memory: 4G
        reservations:
          # cpus '1.0'
          memory: 2G

  # Worker Node (Mới thêm: Chịu trách nhiệm xử lý tính toán)
  spark-worker:
    image: tabulario/spark-iceberg
    container_name: spark-worker
    ports:
      - "8082:8081" # Worker UI
    networks:
      - ecommerce_network
    depends_on:
      - spark
    environment:
      - AWS_ACCESS_KEY_ID=admin
      - AWS_SECRET_ACCESS_KEY=admin123
      - AWS_REGION=us-east-1
      - SPARK_WORKER_CORES=2
      - SPARK_WORKER_MEMORY=2G
      # - SPARK_CONF_spark_jars_packages=org.apache.hadoop:hadoop-aws:3.3.4,com.amazonaws:aws-java-sdk-bundle:1.12.262
    # Ghi đè entrypoint để chạy class Worker của Spark
    entrypoint: >
      /bin/sh -c "
      curl -s https://repo1.maven.org/maven2/org/apache/iceberg/iceberg-spark-runtime-3.5_2.12/1.4.3/iceberg-spark-runtime-3.5_2.12-1.4.3.jar -o /opt/spark/jars/iceberg-spark-runtime-3.5_2.12-1.4.3.jar &&
      curl -s https://repo1.maven.org/maven2/org/apache/hadoop/hadoop-aws/3.3.4/hadoop-aws-3.3.4.jar -o /opt/spark/jars/hadoop-aws-3.3.4.jar &&
      curl -s https://repo1.maven.org/maven2/com/amazonaws/aws-java-sdk-bundle/1.12.262/aws-java-sdk-bundle-1.12.262.jar -o /opt/spark/jars/aws-java-sdk-bundle-1.12.262.jar &&
      curl -s https://repo1.maven.org/maven2/org/postgresql/postgresql/42.6.0/postgresql-42.6.0.jar -o /opt/spark/jars/postgresql-42.6.0.jar &&
      /opt/spark/bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark:7077"