services:
  db:
    image: postgres:16-alpine
    container_name: ecommerce_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: ecommerce_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init-db:/docker-entrypoint-initdb.d
    networks:
      - ecommerce_network

  gen_data:
    build: ./gen_data
    container_name: gen_data
    networks:
      - ecommerce_network
    volumes:
      - ./gen_data:/app

volumes:
  postgres_data:

networks:
  ecommerce_network:
    driver: bridge